<br>
<p><h1 align="center">University Database Search Result</h1></p>
<p align="center">{{title2}}</p>
<br>
<div class="container">
    <div class="row" style="padding:50px;">
        <div>
            <table id='empTable' class='display dataTable' width='100%'>
                <thead>
                <tr>
                    <th>{{column1}}</th>
                    <th>{{column2}}</th>
                    <th>{{column3}}</th>
                    <th>{{column4}}</th>
                </tr>
                </thead>
                <tbody align="center"> 
                    {% for row in value %}  
                        <tr> 
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td> 
                        </tr> 
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
</div>